* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  display: flex;
  height: 60px;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(93, 84, 105);
}
.logo {
  display: flex;
  width: 70%;
  align-items: center;
  align-items: center;
}
.logo .logo-img {
  margin: auto;
  width: 20%;
  display: flex;
  justify-content: center;
}
.logo .logo-img img {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.nav-list {
  display: flex;
  margin: auto;
  width: 100%;
  align-items: center;
}
.nav-list li {
  list-style: none;
}
.nav-list li a {
  color: white;
  text-decoration: none;
  padding: 0 32px;
  border-radius: 6px;
}
.nav-list li a:hover {
  background-color: white;
  color: black;
}
.right-nav {
  width: 50%;
  text-align: right;
  padding-right: 5px;
  align-items: center;
}
.right-nav input {
  width: 200px;
  height: 25px;
  padding: 2px 8px;
  border-radius: 8px;
  border: 2px solid white;
}
.btn {
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background: none;
}
.btn:hover {
  color: green;
  border: 2px solid green;
}
.right-nav .btn {
  width: 100px;
  height: 25px;
  margin: 5px 0;
}
.burger {
  width: 26px;
  height: 21px;
  display: none;
  cursor: pointer;
}
.burger .line {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}
.background {
  background: rgba(0, 0, 0, 0.6) url(./images/background.jpg);
  background-size: cover;
  background-blend-mode: darken;
}

.section {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-section {
  width: 70%;
  display: flex;
}
.first-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-lg {
  font-size: 40px;
  text-align: center;
}
.text-sm {
  font-size: 20px;
  width: 90%;
}
.section-btn {
  margin-top: 20px;
}
.section-btn .btn {
  padding: 5px 50px;
  margin: 5px 8px;
  width: 200px;
}
.section-1 {
  height: 90vh;
}
.second-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.second-section img {
  height: 200px;
  width: 200px;
  border-radius: 25px;
}

.section-2,
.section-3,
.section-4 {
  color: black;
  width: 90%;
  /* height: 450px; */
  margin: 30px auto;
}

.section-3 {
  flex-direction: row-reverse;
}

.second-section-2 img,
.second-section-3 img,
.second-section-4 img {
  border-radius: 40px;
  margin-top: 5px;
  border: 4px solid black;
}
#contact {
  background-color: #f5f5f7;
}
/* .form {
  display: flex;
  flex-direction: column;
} */
#contact {
  /* height: 450px; */
}
#contact h2 {
  padding-top: 20px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}
.form input {
  height: 30px;
  margin: 10px 0;
  border-radius: 9px;
  padding: 2px 20px;
}
.form .btn {
  color: black;
  border: 2px solid gray;
  width: 100px;
  padding: 5px 10px;
}
.form .btn:hover {
  color: green;
  border: 2px solid green;
}
footer {
  background-color: #f5f5f7;
}
footer div {
  margin: auto;
  padding: 10px 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 10px;
}
